<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198719515470-9l7jo9dg2h8msft0g0kkcmd64flvvclk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198719515470-9l7jo9dg2h8msft0g0kkcmd64flvvclk</string>
	<key>API_KEY</key>
	<string>AIzaSyC4RZjFNYtZGHgkwPOC5HSljKnqsf-EYCw</string>
	<key>GCM_SENDER_ID</key>
	<string>198719515470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AK.LP</string>
	<key>PROJECT_ID</key>
	<string>lp-app-8370a</string>
	<key>STORAGE_BUCKET</key>
	<string>lp-app-8370a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198719515470:ios:8b9587970a0d0561c8cc1f</string>
</dict>
</plist>